* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

footer {
    position: absolute;
    font-size: 14px;
    text-align: center;
    color: black;
    padding: 10px 10px 0px 10px;
    bottom: 10px;
    width: 100%;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.background {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(./images/bg-intro-desktop.png);
    background-color: hsl(0, 100%, 74%);
    min-height: 100vh;
    max-width: 1640px;
    margin: auto;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 40px;
}

.non_actionable {
    float: left;
    width: 50%;
    height: 100%;
    margin-right: 30px;
    font-family: 'Poppins', sans-serif;
}

.actionable {
    position: relative;
    float: left;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
}

.form_container {
    max-height: 600px;
    width: 600px;
    background-color: white;
    border-radius: 5px;
    position: relative;
}

.form {
    padding: 30px;
}

.form_control {
    margin-bottom: 10px;
    position: relative;
}

.form_control.error.inputs {
    border: 2px solid hsl(0, 100%, 74%);
}

.inputs.error {
    border: 2px solid hsl(0, 100%, 74%);
}

.error.exclamation-circle {
    visibility: visible;
}

.error.error_msg {
    visibility: visible;
}

.inputs {
    border: 1px solid gray;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.exclamation-circle {
    position: absolute;
    top: 17px;
    right: 20px;
    visibility: hidden;
}

.error_msg {
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    font-style: italic;
    color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    visibility: hidden;
}

.main_header {
    font-size: 56px;
    color: white;
}

.main_paragraph {
    font-size: 18px;
    color: white;
    line-height: 30px;
    font-weight: 500;
}

.seven_days_button {
    position: absolute;
    top: -20%;
    width: 100%;
    height: 65px;
    border-radius: 10px;
    border: none;
    background-color: hsl(249, 44%, 56%);
    color: white;
    font-size: 16px;
    box-shadow: 0px 10px rgba(32, 33, 35, 0.28);
    cursor: pointer;

}

.submit_form {
    color: white;
    background-color: hsl(154, 59%, 51%);
    border: none;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.agreement {
    display: flex;
    justify-content: center;
    color: hsl(246, 25%, 77%);
    font-size: 14px;
}

.terms {
    text-decoration: none;
    color: hsl(0, 100%, 74%);
    font-weight: bold;
}

::placeholder {
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 960px) {
    footer {
        display: none;
    }

    .background, .wrapper {
        display: block;
        width: 100%;
    }

    .wrapper {
        padding: 10px;
    }

    .non_actionable, .actionable {
        width: 100%;
        text-align: center;
    }

    .actionable {
        display: initial;
    }

    .non_actionable div, .actionable div.form_container {
        width: 100%;
        margin: 0 auto;
    }

    .main_header {
        font-size: 32px;
        margin: 0;
    }

    .seven_days_button {
        position: initial;
        margin-bottom: 40px;
    }

    .agreement {
        display: initial;
    }
}