body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(216, 12%, 8%);
    font-family: 'Overpass', sans-serif;
}

.container {
    background-color: hsl(213, 19%, 18%);
    max-width: 400px;
    min-height: 400px;
    border-radius: 25px;
    padding: 20px 20px 0px 20px;
}

.heading {
    color: white;
    margin-left: 10px;
}

.paragraph {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    line-height: 1.5;
    margin-left: 10px;
    padding-right: 20px;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number {
    font-size: 16px;
    height: 50px;
    width: 50px;
    display: inline-flex;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
    color: hsl(217, 12%, 63%);
    background-color: hsl(213, 10%, 14%);
    margin: 20px 10px 0px 10px;
    border: none;
}

.number:hover {
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
    color: white;
}

.number:focus {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

.button {
    background-color: hsl(25, 97%, 53%);
    color: white;
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
}

.button:hover {
   background-color: white;
   color: hsl(25, 97%, 53%);
   cursor: pointer; 
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
    padding: 10px 20px 20px 20px;
}

.star {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: hsl(213, 10%, 14%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution {
    font-size: 14px;
    text-align: center;
    color: white;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 10px;
    width: 100%;
}

.attribution a {
    color: yellow;
    text-decoration: none;
}


/*styles for thank_you state*/
.thank_you_img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.chosen_rating {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.chosen_rating_text {
    background-color: hsl(213, 10%, 14%);
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    color: hsl(25, 97%, 53%);
    font-size: 15px;
}

.thank_you_heading {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
}

.thank_you_paragraph {
    color: hsl(217, 12%, 63%);
    font-size: 15px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.thank_you_text-container {
    padding: 10px 20px 25px 20px;
}

@media (max-width: 450px) {
    .container {
        width: 100%;
    }

    .background {
        padding: 0 20px;
    }
}

@media (max-width: 390px) {
    .container {
        border-radius: 0;
    }
}